/* Body css application */
@media only screen and (min-width: 6.25in) {
    * {
        background-color: #F3F6FB;
    }
}

/* Title */
body.class {
    text-decoration: underline;
    text-align: center;
}
body > h1 {
    position: static;
    color: rgb(255, 0, 0);
    padding-bottom: 1rem;
}

/* #id used for anchor points in nav */

a[for], a[value] {
    color: orangered;
}

h2 {
    color: violet;
}

h3 {
    color: hsl(240,100,50);
}

summary {
    color: yellow;
}

button:active {
    color: slategray;
}

ol{
    border: 1cm solid green;
    border-width: thick;
    padding: 1em;
    padding-bottom: 10px; 
}

ul {
    border: 2px  solid green;
    border-radius: 30px;
    padding-bottom: .5vh;
}

a + p {
    color: orange;
}

ol li {
    text-decoration: underline dotted;
}

h2 ~ ul {
    text-decoration: underline dotted;
}

form > p {
    text-decoration: underline solid;
}

button:hover {
    color: lightgray;
}

a:hover {
    color: gray;
}